html{
    background-image: url(/1702495791_mykaleidoscope-ru-p-mi-tebya-lyubim-otkritka-vkontakte-13.jpg);
    background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
img{
    width: 350px;
}
.off{
    text-decoration: none;
    color: black;
}
